<%- include('partials/styleOnlyHeader'); %>
<% var users = locals.channels.users %>
<% var subscribed = locals.channels.subscribed %>
<% var owned = locals.channels.owned %>
<div id="channels-main">
	<div class="container-fluid">
		<div class="row">
			<%- include('partials/sidebar'); %>
			<div class="col-3">
				<div id="owned-channels" class="user-channels">
					<h4>Your Channels</h4>
					<% if (owned) { %>
						<!--<ul>
						<% owned.forEach(function(channel) { %>
							<li>
								<img src="<%= channel.image %>" alt="<%= channel.name %>">
								<a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
								<a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
							</li>
						<% }) %>
						</ul>-->
						<% owned.forEach(function(channel) { %>
							<div class="channel-list">
								<img src="<%= channel.image %>" alt="<%= channel.name %>" class="channel-ava">
								<!--<a href="/channel/<%= channel.id %>/" class="channel-name"><%= channel.name %></a>-->
								<form action="/channel/<%= channel.id%>/" method="get" class="channel-name" id="channel-name">
									<input type="submit" value="<%= channel.name %>" form="channel-name">
								</form>
								<!--<a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
								<form action="/channels/delete/<%= channel.id %>/" method="get" id="channel-delete">
									<button type="submit" form="channel-delete" id="chan-delete-button">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
								</form>
							</div>
						<% }) %>
					<% }  %>
				</div>
				<div id="subscribed-channels" >
					<h4>Subscribed Channels</h4>
					<% if (subscribed) { %>
						<!--<ul>
						<% subscribed.forEach(function(channel) { %>
							<li>
								<img src="<%= channel.image %>" alt="<%= channel.name %>">
								<a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
							</li>
						<% }) %>
						</ul>-->
						<% subscribed.forEach(function(channel) { %>
							<div class="channel-list">
								<img src="<%= channel.image %>" alt="<%= channel.name %>" class="channel-ava">
								<!--<a href="/channel/<%= channel.id %>/" class="channel-name"><%= channel.name %></a>-->
								<form action="/channel/<%= channel.slug%>/" method="get" class="channel-name" id="channel-name">
									<input type="submit" value="<%= channel.name %>" form="channel-name">
								</form>
							</div>
						<% }) %>
					<% }  %>
				</div>
			</div>
			<div class="col-8">
				<h2>Create Channel</h2>
				<form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
					<input type="text" class="form-control" name="name" placeholder="Group Name">
					<input type="file" class="custom-file-input" name="avatar" id="avatar-upload" onchange="channelAvatar(event)">
					<label for="avatar-upload" id="channelAvaUploadLabel">Upload Image</label>
					<img id="channelAvaOutput">
					<% if (users) { %>
						<!--<% users.forEach(function(user) { %>
							<input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
							<p><%= user.name %></p>
						<% }) %>-->
						
					<% } %>
					<button id="update" type="submit">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer'); %>